/* Import Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
}
/* Margin for whole page */
.margin{
    margin-left: 100px;
    margin-right: 100px;
}
.first-part{
    margin-top: 80px;
    font-weight: 900;
}
.header-section{
    display: flex;
    justify-content: center;
}
#dif-font{
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}
.half-section{
    width: 50%;
}
.half-section p{
    font-weight: 700;
}
.half-section img{
    padding-left: 150px;
    position: absolute;
}
.linked-button{
    background-color: #E02C6D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
}
.hr-1{
    margin-top: 80px;
    border: 1px solid #3A3A3A;
}
.hr-2{
    margin-bottom: 80px;
    border: 1px solid #3A3A3A;
}
.logos{
    display: flex;
    justify-content: space-between;
    margin: 30px 200px;
}
.product h2{
    font-size: 28px;
}
.product p{
    font-size: 24px;
}
.product span{
    font-size: 12px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    grid-gap: 25px;
}
.title-part{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
.product{
    background-color: white;
    box-shadow: 3px 3px 70px gray;
    border-radius: 7px;
    width: 300px;
    padding: 20px;
}
.starts{
    color: #FB8200;
}
.see-more{
    color: #E02C6D;
    font-size: 20px;
    text-align: right;
    font-weight: 700;
}
.team{
    background-color: rgb(196, 247, 247);
    margin-bottom: 75px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 70px gray;
}
.profile{
    width: 22%px;
    height: 350px;
    padding: 10px;
    background-color: whitesmoke;
    margin: 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 90px gray;
}
.linked-button2{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: violet;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25%;
}
.profile img{
    width: 50%;
    padding-left: 25%;
}
.profile p{
    text-align: center;
}
.gamer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Style Footer Seciton */
footer{
    background-color: rgb(16, 16, 58);
    color: white;
    height: 200px;
    text-align: center;
    padding: 30px;
}


/* ------------------------------
            Media Queries
---------------------------------*/

/* Mobile Devices */
@media only screen and (max-width:767px){
    .first-part{
        
        margin-top: 80px;
        font-weight: 700;
        text-align: center;
    }
    .half-section{
        width: 80%;
    }
    .header-section{
        display: inline-block;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
    .popular-collection{
        grid-template-columns: repeat(1, 1fr);
    }
    .gamer{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet Devices */
@media only screen and (min-width:768px) and (max-width:1023px){
    .first-part{  
        margin-top: 80px;
        font-weight: 700;
        text-align: center;
    }
    .half-section{
        width: 80%;
    }
    .header-section{
        display: inline-block;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
    .popular-collection{
        grid-template-columns: repeat(2, 1fr);
    }
    .gamer{
        grid-template-columns: repeat(2, 1fr);
    }
}